#include <configs/am62x_lpsk_r5_defconfig>
CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="nand0=omap2-nand.0"
CONFIG_MTDPARTS_DEFAULT="omap2-nand.0:2m(NAND.tiboot3),2m(NAND.tispl),2m(NAND.tiboot3.backup),4m(NAND.u-boot),256k(NAND.u-boot-env),256k(NAND.u-boot-env.backup),-(NAND.file-system)"
CONFIG_SYS_NAND_BLOCK_SIZE=0x40000
CONFIG_SYS_NAND_PAGE_COUNT=0x40
CONFIG_SYS_NAND_PAGE_SIZE=0x1000
CONFIG_SYS_NAND_OOBSIZE=0x100
CONFIG_SYS_NAND_U_BOOT_OFFS=0x200000
CONFIG_SYS_NAND_MAX_CHIPS=1
CONFIG_SYS_NAND_U_BOOT_LOCATIONS=y
CONFIG_MEMORY=y
CONFIG_SPL_MEMORY=y
CONFIG_TI_GPMC=y
CONFIG_SPL_NAND_SUPPORT=y
CONFIG_SPL_NAND_DRIVERS=y
CONFIG_SPL_NAND_ECC=y
CONFIG_SPL_NAND_BASE=y
CONFIG_SPL_NAND_IDENT=y
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_MTD_RAW_NAND=y
CONFIG_SYS_NAND_SELF_INIT=y
CONFIG_NAND_OMAP_GPMC=y
CONFIG_NAND_OMAP_ELM=y
CONFIG_SPL_NAND_AM33XX_BCH=n
CONFIG_SPL_SPI=n
CONFIG_SPL_MMC=n
CONFIG_SPL_NAND_SPI_SUPPORT=n
